In [1]:
# Learn about in built functions of Python objects

In [2]:
#LIST         --->        ORDERED     CHANGEABLE           DUPLICATES         []
#TUPLE        --->        ORDERED     UNCHANGEABLE         DUPLICATES         ()
#SET          --->        UNORDERED   ADDABLE/REMOVABLE    NO DUPLICATES      {}
#DICTIONARY   --->        UNORDERED   CHANGEABLE           NO DUPLICATES      {}

In [3]:
L=[1,3,4.9,"name",3]   #List
T=(1,3,4.9,"name",3)   #Tuple
S={1,3,4.9,"name",3}   #Set
D={23:"twothree",'B':43,'c':'CCD'}    #Dictionary

In [4]:
print("The type of L is ",type(L))
print("The type of T is ",type(T))
print("The type of S is ",type(S))
print("The type of D is ",type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [5]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])
print(D['B'])
print(S)

3
3
True
twothree
43
{1, 'name', 3, 4.9}

In [6]:
print(L[1:3])
print(L[::-1])
print(T[1:3])

[3, 4.9]
[3, 'name', 4.9, 3, 1]
(3, 4.9)

In [8]:
L= L+['how','are',6,'you']
print(L)
#                                                       OR
L.append(6.8)
print(L)

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you']
[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [9]:
del L[3]
print(L)

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [10]:
T2=('a','b','c')
T3=T+T2
print(T3)
print(T)

(1, 3, 4.9, 'name', 3, 'a', 'b', 'c')
(1, 3, 4.9, 'name', 3)

In [11]:
S.add(56)
print(S)
#                                       OR
S.update({23,"game",1})
print(S)

{1, 3, 4.9, 'name', 56}
{1, 3, 4.9, 'name', 'game', 23, 56}

In [12]:
S.remove('game')
print(S)

{1, 3, 4.9, 'name', 23, 56}

In [17]:
D['newkey']="newvalue"
print(D)
#                                              OR
D.update(D)
print(D)

{23: 'twothree', 'B': 43, 'c': 'CCD', 'newkey': 'newvalue'}
{23: 'twothree', 'B': 43, 'c': 'CCD', 'newkey': 'newvalue'}

In [18]:
del D['c']
print(D)

{23: 'twothree', 'B': 43, 'newkey': 'newvalue'}

In [19]:
L2=L
print(L2)

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [20]:
D.items()

dict_items([(23, 'twothree'), ('B', 43), ('newkey', 'newvalue')])